/* ===== Reset básico ===== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  }
o
/* =====  general ===== */
body {
background: linear-gradient(135deg, #4facfe, #00f2fe);
min-height: 100vh;
color: #222;
}

/* ===== Contenedor ===== */
#app {
max-width: 1100px;
margin: auto;
padding: 20px;
}

/* ===== Navbar ===== */
nav {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 25px;
}

nav a {
text-decoration: none;
color: white;
background: #0077ff;
padding: 8px 14px;
border-radius: 8px;
transition: 0.3s;
}

nav a:hover {
background: #005ad1;
}

/* ===== Títulos ===== */
h1, h2, h3 {
margin-bottom: 12px;
color: black;
}

/* ===== input de la busqueda ===== */
input {
width: 100%;
padding: 10px;
border-radius: 8px;
border: none;
margin-bottom: 18px;
font-size: 16px;
}

/* ===== Tarjetas Home ===== */
.card {
background: white;
padding: 16px;
border-radius: 12px;
margin-bottom: 14px;
box-shadow: 0 4px 10px rgba(0,0,0,0.15);
transition: transform 0.2s;
}

.card:hover {
transform: translateY(-4px);
}

.card p {
margin-bottom: 8px;
}

/* ===== Botones ===== */
button {
background: #0077ff;
color: white;
border: none;
padding: 8px 14px;
border-radius: 8px;
cursor: pointer;
}

button:hover {
background: #005ad1;
}

/* ===== listado de pronosticos ===== */
ul {
list-style: none;
margin-top: 10px;
}

li {
background: rgba(255,255,255,0.9);
padding: 8px;
border-radius: 6px;
margin-bottom: 6px;
}

/* ===== Respoonsividad ===== */
@media (max-width: 600px) {
#app {
padding: 10px;
}

nav {
flex-direction: column;
gap: 10px;
}
}
